[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jflaquer
[access "refs/for/refs/*"]
	read = group user/jflaquer
	push = group user/jflaquer
	label-Code-Review = -2..+2 group user/jflaquer
	label-Verified = -1..+1 group user/jflaquer
	rebase = group user/jflaquer
	removeReviewer = group user/jflaquer
	submit = group user/jflaquer
[access "refs/heads/*"]
	read = group user/jflaquer
	create = group user/jflaquer
	push = +force group user/jflaquer
	pushMerge = group user/jflaquer
[access "refs/tags/*"]
	push = group user/jflaquer
	push = +force group user/jflaquer
